.container{
  width: 70%;
  max-width:1170px; 
  margin:auto;
}

.messaging { 
  padding: 0 0 50px 0;
}

.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}

.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 100%;
}
